.texto-menor {
  font-size: 13px;
}

.divs-facilidades {
  width: 325px;
}

.h-text-color-CCCCCC {
  color: #CCCCCC;
}

.h-text-color-DAFF01 {
  color: #DAFF01;
}

.h-bg-color-9353FF {
  background-color: #9353FF;
}
